.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
  transform: scaleX(-1);

}

.fighter-preview___left {
  align-items: flex-start;
}
